body{
    background-color: #090809;
    display: grid;
    grid-template-columns: repeat(12, [col] 1fr);
    column-gap: 24px;
    margin: 0px;
}

h1{
    font-family: Nunito;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(244, 255, 247, 0.8);
    text-shadow: 1px -1px 3px rgba(37, 205, 112, 0.49), -2px 0px 3px rgba(252, 65, 95, 0.5), 0px 1px 3px rgba(135, 181, 248, 0.5);
}

header{
    grid-column: col 1 / span 3;
    height: 108px;
    display: flex;
    justify-content: center;
}

header h1{
    align-self: center;
}

.hero{
    grid-column: col 1 / span 12;
    display: grid;
    grid-template-columns: repeat(12, [col] 1fr);
    border-top: 0.5px solid rgba(244, 255, 247, 0.8);
    border-bottom: 0.5px solid rgba(244, 255, 247, 0.8);
    box-sizing: border-box;
    box-shadow: -3px 0px 3px rgba(252, 65, 95, 0.5), 1px -1px 3px rgba(37, 205, 112, 0.49), 0px 1px 3px rgba(135, 181, 248, 0.5);
}

.hero-left{
    grid-column: col 1 / span 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-right: 0.5px solid rgba(244, 255, 247, 0.8);
    box-sizing: border-box;
    box-shadow: -3px 0px 3px rgba(252, 65, 95, 0.5), 1px -1px 3px rgba(37, 205, 112, 0.49), 0px 1px 3px rgba(135, 181, 248, 0.5);
}

.hero-video{
    width: 50%;
    grid-column: col 4 / span 9;
    width: -webkit-fill-available;
    z-index: -1000;
}

.button{
    height: 40px;
    width: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid rgba(244, 255, 247, 0.8);
    box-sizing: border-box;
    box-shadow: 0px 1px 3px 1px rgba(135, 181, 248, 0.5);
    filter: drop-shadow(-3px 0px 3px rgba(252, 65, 95, 0.5)), drop-shadow(1px -1px 3px rgba(37, 205, 112, 0.49));
    border-radius: 7px;
}

.button:hover{
    border: 1px solid rgba(244, 255, 247);
    box-shadow: none;
    filter: none;
}

.button:hover h1{
    color: rgba(244, 255, 247);
    text-shadow: none;
}
